  body{
    margin:0px!important;
    font-family:'Open Sans', sans-serif;
  }
  a{
    color:white;
    text-decoration: none;
  }
  
.btn{
  color: white;
  background-color: #1a65ae;
  cursor: pointer;
  border: none;
}
.btn:focus {
  outline: none !important;
}